html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  min-height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "inter", sans-serif;
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  width: 384px;

  border-radius: 12px;
  padding: 2.5rem;
  margin: auto;
}

.pic-container {
  display: flex;
  justify-content: center;
}

.pic {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border-radius: 50%;
  transform: translateY(5px);
}

.name {
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 0.9rem;
}

.bio {
  margin-bottom: 0.5rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 1rem;
}

.cards a {
  display: block;
  background-color: hsl(0, 0%, 20%);
  padding: 1rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.cards a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

@media (max-width: 375px) {
  .profile-card {
    width: 90%;
  }
}
